{% extends 'base/base.html' %}
{% load extra_filters %}

{% block title %}Editar empresa{% endblock title %}

{% block content %}
<div class="container">
<h1> Empresa: {{form.name.value|upper}}</h1>
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">
            <p>{{form.errors}}</p>
        </div>
    {% endif %}
  <div class="position-absolute top-50 start-50 translate-middle">
<form method="post" onsubmit="ValidarCNPJ()">{% csrf_token %}
    <label for="id_name" class="form-label">Nome:</label>
    {{ form.name|add_class:'form-control'}}
    <label for="id_cnpj" class="form-label">CNPJ:</label>
    {{ form.cnpj|add_attr:"class:form-control, onblur:validarCNPJ(this);" }}
    <br>
    <button type="submit" class="btn btn-light" value="Save">Salvar</button>
</form>

</div>

</div>


<script>
document.getElementById('id_cnpj').addEventListener('input', function (e) {
      var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})(\d{0,2})/);
      e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + '.' + x[3] + '/' + x[4] + (x[5] ? '-' + x[5] : '');
    });


// Validar CNPJ
function _cnpj(cnpj) {
 
    cnpj = cnpj.replace(/[^\d]+/g,'');
 
    if(cnpj == '') return false;
     
    if (cnpj.length != 14)
        return false;
 
    // Elimina CNPJs invalidos conhecidos
    if (cnpj == "00000000000000" || 
        cnpj == "11111111111111" || 
        cnpj == "22222222222222" || 
        cnpj == "33333333333333" || 
        cnpj == "44444444444444" || 
        cnpj == "55555555555555" || 
        cnpj == "66666666666666" || 
        cnpj == "77777777777777" || 
        cnpj == "88888888888888" || 
        cnpj == "99999999999999")
        return false;
         
    // Valida DVs
    tamanho = cnpj.length - 2
    numeros = cnpj.substring(0,tamanho);
    digitos = cnpj.substring(tamanho);
    soma = 0;
    pos = tamanho - 7;
    for (i = tamanho; i >= 1; i--) {
      soma += numeros.charAt(tamanho - i) * pos--;
      if (pos < 2)
            pos = 9;
    }
    resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
    if (resultado != digitos.charAt(0))
        return false;
         
    tamanho = tamanho + 1;
    numeros = cnpj.substring(0,tamanho);
    soma = 0;
    pos = tamanho - 7;
    for (i = tamanho; i >= 1; i--) {
      soma += numeros.charAt(tamanho - i) * pos--;
      if (pos < 2)
            pos = 9;
    }
    resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
    if (resultado != digitos.charAt(1))
          return false;
           
    return true;
    
}


function validarCNPJ(el){
  if( !_cnpj(el.value) & el.value != "" ){

    alert("CNPJinválido!" + el.value);

    // apaga o valor
    el.value = "";
  }
}
</script>


{% endblock content %}








